Localization
{
en-us
{
    #BSS_LOC_section = Better Specialization Settings

    #BSS_LOC_on = on
    #BSS_LOC_off = off
    #BSS_LOC_stock_behavior = Stock behavior is in use:
    #BSS_LOC_custom_behavior = Custom behavior is in use:
    #BSS_LOC_gamemode = The game mode is

    #BSS_LOC_APSAS_title = Autopilot / SAS
    #BSS_LOC_APSAS_freeSAS_title = All SAS Modes on all probes // #autoLOC_6010001 in KSP 1.6+
    #BSS_LOC_APSAS_freeSAS_tooltip = If on, full SAS functionality is available to all probe cores (and all crew types).
    #BSS_LOC_APSAS_reqpilot_title = Require pilot for SAS
    #BSS_LOC_APSAS_reqpilot_tooltip = If off, any crewmember can provide SAS.\nIf on, a pilot will be required.
    #BSS_LOC_APSAS_useXP_on_desc = SAS and the stability modes available to a vessel depend on having a command module with a pilot of adequate skill level, or a part with the required SAS capabilites.
    #BSS_LOC_APSAS_freeSAS_on_desc = SAS and all stability modes are available with any type of crewmember in a command module, or any probe core.
    #BSS_LOC_APSAS_reqPilot_on_desc = SAS and the stability modes available to a vessel depend on having a command module with a pilot, or a part with the required SAS capabilites.
    #BSS_LOC_APSAS_reqPilot_off_desc = SAS and the stability modes available to a vessel depend on having a command module with any type of crewmember, or a part with the required SAS capabilites.

    #BSS_LOC_scrmsg_reqengg = An engineer is required to do that.

    #BSS_LOC_REPAIR_title = Repair
    #BSS_LOC_REPAIR_repwheel_title = Require engineer to repair legs / wheels
    #BSS_LOC_REPAIR_repwheel_tooltip = If off, any crewmember can repair landing legs and wheels.\nIf on, an engineer will be required.
    #BSS_LOC_REPAIR_ovrlvlreq_title = Override required level
    #BSS_LOC_REPAIR_ovrlvlreq_tooltip = If off, stock behavior will be used.\nIf on, custom setting will be used.
    #BSS_LOC_REPAIR_lvlreq_title = Required level
    #BSS_LOC_REPAIR_lvlreq_tooltip = Custom setting for the skill level required to repair legs / wheels.
    #BSS_LOC_REPAIR_enggskill_desc = An engineer of skill level <<1>> or above will be required to repair landing legs and wheels.
    #BSS_LOC_REPAIR_reqengg_desc = An engineer will be required to repair landing legs and wheels.
    #BSS_LOC_REPAIR_anycrew_desc = Any type of crewmember will be able to repair landing legs and wheels.
}
}
